<%= form_for :expanses, url: expanses_path, remote:true,  method: "post",html: { class: "row g-3"} do |f|%>
<%# if false %>
<div class="error_container_inquiry">

</div>
  <%# end %>
<div class="mb-3">
<div class="mb-3">
  <%= f.text_field :title, step: 0.1, class: "form-control", placeholder: "Title for expanse",  required: true %>
</div>
<div class="mb-3">
 <%= f.label :Amount %>
  <%= f.number_field :amount, step: 0.1, class: "form-control amount form-control-lg", placeholder: "0.00",  required: true %>
</div>
<%= link_to 'add friend', root_path(:anchor => "search_friend")%>
<div id="emailHelp" class="form-text">Share with you and:<span class='friends text-dark'></span></div>
  <%= f.select :user_id, options_for_select(current_user.frnd_options),{include_blank: "Search by user name or email"}, multiple:"multiple",placeholder: "search by email or name", class: "form-select w-100 select2", required: true  %>
  <%#= f.text_field :title, class:"form-control", placeholder: "search by email or name" %>
</div>
<div class="mb-3">
<span class=' share bg-light mb-3'>0.00</span>/person<br>
<label>Paid By:</label>
<select class="form-select w-25 payor" name="expanses[payor]" aria-label="Default select example">
  <option value="<%=current_user.email%>" selected>you</option>
</select>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
<%end%>
<script>
$(".select2").select2({
   tags: true,
   dropdownParent: $('#expenseModal'),
    width: '100%'
});
$(".amount").on("input", function() {
  // alert($(this).val()); 
   count = $('.select2').val()
  var share = calc_share($(this).val(), count.length+1)
  $(".share").html(share.toString())
});
$(".select2").change(()=>{
  let arr = new Array;
  var data = $('.select2').val()
  data.forEach((a)=>{
    b = a.split('->')
    arr.push(b[0])
  })
  to_select(data)
  //console.log($(".amount").val())
  $(".friends").html(arr.toString())
  var share = calc_share($(".amount").val(), data.length+1)
  $(".share").html(share.toString())
  console.log(share)
})
function calc_share(amt, person){
  var share = amt/person;
  return share.toFixed(2)
}
function to_select(arr){
  $(".payor").html(`<option value="<%=current_user.email%>" selected>you</option>`)
  console.log(arr)
arr.forEach((i)=>{
  var a = i.split("->")
  console.log(a)
$(".payor").append(`<option value="${a[1]}">${a[0]}</option>`)
})
}
</script>
