<p id="notice"><%= notice %>
</p>
<p>
  <strong>Title:</strong>
  <%= @expanse.title %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @expanse.amount %>
</p>
<p>
  <strong>Type:</strong>
  <%= @expanse.type %>
</p>
<p>
  <strong>Status:</strong>
  <%= @expanse.status %>
</p>
<p>
  <strong>Created by:</strong>
  <%= @expanse.created_by_id %>
</p>
<%= link_to 'Edit', edit_expanse_path(@expanse) %>
| 
<%= link_to 'Back', expanses_path %>